<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>不知道标题些什么</title>
		<script src="bin/vue.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="panel panel-primary">
			<div class="panel-heading">
			<h3 class="panel-title">添加品牌</h3>
			</div>
				<div class="pannel-body form-inline">
					<label>Id
					<input type="text" class="form-control" v-model="id">
					</label>
					<label>Name
					<input type="text" class="form-control" v-model="name" @keyup.f2="add()">
					</label>
					<input type="button" value="添加" class="btn btn-primary" @click="add()"/>
					<label>搜索名称关键字：
					<input type="text" class="form-control" v-model="keywords" v-focus v-color="'pink'">
					</label>
				</div>
			</div>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Ctime</th>
					<th>Operation</th>
				</tr>
				<tr v-for="item in search(keywords) " v-on:key="item.id">
					<td>{{ item.id }}</td>
					<td v-text="item.name"></td>
					<td>{{ item.ctime |dateFormat('')}}</td>
					<td><a href="" @click.prevent="del(item.id)">删除</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>
<script>
	//自定义全局按键修饰符
	Vue.config.keyCodes.f2 = 113;
	//定义指令
	Vue.directive("focus",{
		bind:function(){},
		inserted:function(el){
			el.focus();
		},
		updated:function(){}
	})
	Vue.directive('color',{
		bind:function(el,binding){
			el.style.color = binding.value;
		}
	})
	//用vue里的过滤器将时间进行格式化,过滤器就是进行常见文本的格式化，过滤器一般用在两个地方，一个是差值还有一个是v-bind,具体如下所示是时间的格式化:
	Vue.filter('dateFormat',function(dateStr,pattern){
		//根据给定的时间字符串得到特定的时间
		var dt = new Date(dateStr);
		var y = dt.getFullYear();
		var m = (dt.getMonth()+1).toString().padStart(2,'0');
		var d = dt.getDate().toString().padStart(2,'0');
		if(pattern.toLowerCase()==='yyyy-mm-dd'){
			return y+'-'+m+'-'+d;
		}else{
			var hh = dt.getHours().toString().padStart(2,'0');
			var mm = dt.getMinutes().toString().padStart(2,'0');
			var ss = dt.getSeconds().toString().padStart(2,'0');
			return y+'-'+m+'-'+d +' '+hh+':'+mm+':'+ss;
		}
	})
			new Vue({
				el: '#app',
				data: {
					id:'',
					name:'',
					keywords:'',
					list:[
						{id:1,name:'奔驰',ctime:new Date()},
						{id:2,name:'宝马',ctime:new Date()},
					],
				},
				methods:{
					add(){
						var car = {id:this.id,name:this.name,ctime:new Date()}
						this.list.push(car);
						this.id = this.name = ''
					},
					del(id){
						//方法一
						// this.list.some((item,i)=>{
						// 	if(item.id==id){
						// 		this.list.splice(i,1);
						// 		return true;
						// 	}
						// })
						//方法二
						var i = this.list.findIndex(item=>{
							if(item.id==id)
							return true;
						})
						this.list.splice(i,1);
					},
					search(keywords){
						var newList = [];
						this.list.forEach(item=>{
							//方法一 if(item.name.indexOf(keywords)!=-1)
							if(item.name.includes(keywords)){
								newList.push(item);
							}
						})
						return newList;
					}
				}
			})
		</script>
